body, html {
    height: 100%;
    margin: 0;
    background-color: #121212;
    color: white;
}

body{
    overflow-x: hidden;
}

.main { 
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
}

.idk{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    border-radius: 8px;
}

.leftSide{
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ASCII{
    padding-left: 1px;
    & h2{
        text-align: center;
    }
    & pre{
        background-color: #222;
        color: #fff;
        margin-left: 1vh;
        margin-right: 1vh;
        padding: 1vh;
        font-size: 2px;
        border-radius: 4px;
        width: auto;
        max-width: 100%;
        overflow: auto;
        font-family: monospace;
        text-align: center;
    }
}

.upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45%;
    border-bottom: 1px solid white;
}

.settings{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h2{
        text-align: center;
    }

    & .setting{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1vh;
        & label{
            margin-right: 1vh;
        }
    }
}

.convert{
    border-top: 1px solid white;
    height: 10%;
}

.leftSide, .ASCII {
    width: 50%;
    height: 100%;
}

h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #fff;
}

input[type="file"] {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #333;
    color: white;
}

button {
    margin: 1rem 0;
    padding: 0.8rem 1.5rem;
    background-color: #333;
    color: white;
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #444;
}